<h1>Dashboard</h1>

<div class="number-block">
  <h2>Revenue</h2>
  <p><%= number_to_currency(@revenue) %></p>
</div>

<div class="number-block">
  <h2>Paid</h2>
  <p><%= number_to_currency(@paid) %></p>
</div>

<div class="number-block">
  <h2>Profit</h2>
  <p><%= number_to_currency(@profit) %></p>
</div>
